<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width" />
	<title><%=@title%> </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	  <link rel="apple-touch-icon-precomposed" href="/img/iowaicon.png"/>
  <link rel="apple-touch-icon" href="brewersicon.jpg">
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>

  <script src="/js/jquery.cookie.js" type="text/javascript"></script>

 
	<link href="/css/font-awesome.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	

	<% if @js %>
	      <% @js.each do |script| %>
	          <%= "<script src='#{script}' type='text/javascript'></script>" %>
	      <% end %>
	  <% end %>

	<% if @css %>
	      <% @css.each do |css| %>
	       <%= "<link rel='stylesheet' href='#{css}' type='text/css' />"  %>
		 <% end %>
	  <% end %>
	<%
	 @cookie_val = params[:loc]
	%>

	<%
	#no analytics for local... still waiting on tag info... 
	@analyze_loc = request.url.downcase
	puts "location is"
	puts @analyze_loc
	#if @analyze_loc =~ /0.0.0.0/ or @analyze_loc =~ /localhost/
		%>
	
	<%#else%>
		<script type="text/javascript">
		
		  var date = new Date();
          date.setTime(date.getTime() + (8 * 60 * 60 * 1000)); //8 hours
          $.cookie('USCC_SPEEDWAY_LOCATION', "<%=@cookie_val%>", { expires: date});
		
	  	var _gaq = _gaq || [];
	  	_gaq.push(['_setAccount', 'UA-39561472-10']);
	  	_gaq.push(['_setDomainName', 'hit2c.com']);
	  	_gaq.push(['_setCustomVar',1,'Location',$.cookie('USCC_SPEEDWAY_LOCATION'),1]);
	  	_gaq.push(['_setSessionCookieTimeout', 120000]);
	  	_gaq.push(['_setAllowLinker', true]);
	  	_gaq.push(['_trackPageview']);

	  	(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	   		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
      
	<%# end %>


	<body>

	<div class="container-fluid">
	    <div class="row-fluid">
	      <style>
		#header {
			width: 100%;
		}

		img.uscc-logo {
			float: left;
		}

		img.brewers-logo {
			float: right;
		}

	</style>
	
	
	<%= yield %>
	<div align="center">
	    <div class="footer">
		© 2013 U.S. Cellular
		</div>
	</div>

	      </div>
	</div> 



	</body>
	</html>